streamlit
python-dotenv
groq
langchain-groq
sentence-transformers
transformers
torch
matplotlib
PyPDF2
textblob
gTTS
pandas
seaborn
plotly
networkx
nbformat
huggingface_hub
wordcloud
